*{ font-family: arial, sans-serif;
  margin: 0;
}
body,
body > div {
  height: 100vh;
  width: 100vw;
}
#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#container > div {
  display: flex;
}
#navbar {
  padding: 2em;
  justify-content: space-evenly;
}
#main-section {
  flex-grow: 1;
}
#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.red {
  background-color: #b05f6d;
  color: white;
}
.blue {
  background-color: #275db3;
  color: white;
}

.home {
  background-color: #DCF763;
  color: #4B5842;
}

.app-h1{
  text-align: center;
  font-size: 3em;
  color: #4B5842;
}

#navbar a {
  color: #000; 
  text-decoration: none; 
  transition: color 0.3s ease; 
}

#navbar a:hover, #navbar a:focus {
  color: #4B5842; 
  font-size: 25px;
  text-decoration: underline; 
}